@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.light {
  --background: 220, 220, 220;

  --navbar: 255, 255, 255;
  --navbar-active: 229, 229, 229;
  --navbar-cta: 250 250 250;
  --navbar-mode-btn: 250 250 250;
  --navbar-link-text: 115 115 115;
  --navbar-link-text-active: 0 0 0;

  --card: 245 245 245;
  --code-card: 230 230 230;
  --tag-card: 200 200 200;

  --cta: 200, 200, 200;
  --cta-active: 190, 190, 190;

  --cta-card: 220 220 220;
  --cta-active-card: 200 200 200;

  --primary-text: 38, 38, 38;
  --secondary-text: 100, 100, 100;
  --tertiary-text: 160, 160, 160;
}

.dark {
  --background: 35, 35, 35;

  --navbar: 25, 25, 25;
  --navbar-active: 40, 40, 40;
  --navbar-cta: 100, 100, 100;
  --navbar-mode-btn: 20, 20, 20;
  --navbar-link-text: 115 115 115;
  --navbar-link-text-active: 200 200 200;

  --card: 40 40 40;
  --code-card: 50, 50, 50;
  --tag-card: 60, 60, 60;

  --cta: 55, 55, 55;
  --cta-active: 65, 65, 65;
  --cta-card: 55, 55, 55;
  --cta-active-card: 65, 65, 65;

  --primary-text: 222, 222, 222;
  --secondary-text: 150, 150, 150;
  --tertiary-text: 100, 100, 100;
}
/* body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.nav-theme-btn:active {
  animation: theme-animation 0.4s forwards;
}

@keyframes theme-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.post h1 {
  @apply text-4xl text-primary-text;
}

.post h3 {
  @apply text-2xl text-secondary-text mb-1 tracking-tight;
}

.post h4 {
  @apply text-sm text-tertiary-text font-semibold mb-5;
}

.post-p {
  @apply bg-card p-4 rounded-lg text-secondary-text my-4;
}

.viewport-element {
  @apply bg-card p-4 rounded-lg text-secondary-text max-w-[42rem] w-full;
}

.text-editor {
  @apply bg-white p-4 rounded-lg text-secondary-text my-2 border;
}
